.display-full {
    max-width: 600px;
    width: 100%;
  }
  
  .display-calc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    font-size: 80px;
    padding-right: 20px;
  }
  
  .button-display {
    display: flex;
    max-width: 600px;
    width: 100%;
    border: 2px solid black;
  }
  
  .number-display {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    width: 100%;
    border: 2px solid black;
  }
  
  .action-display {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    width: 100%;
    border: 2px solid black;
    color: white;
    background-color: darkred;
    
  }
  
  .number-zero {
    width: 450px;
    border: 1px solid black;
    
  }