.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .clear-button:hover {
    color: white;
    background-color: darkred;
  }
  
  .number-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    max-width: 33.3333%;
    width: 33.3333%;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .number-button:hover {
    color: white;
    background-color: black;
  }
  
  .number-zero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    cursor: pointer;
    
  }
  
  .number-zero:hover {
    color: white;
    background-color: black;
    
  }
  
  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    max-width: 150px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .action-button:hover {
    color: darkred;
    background-color: white;
  }